@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}

.fondo::after{
    content: ' ';
    background-color:#f5e38d;
    position: absolute;
    top: 30%;
    left: 60%;
    @apply w-80 h-80   m-auto -z-10 rounded-full lg:top-[30%] lg:left-[60%];
}

.gol::after{
    content: ' ';
    background-color:#386221;
    position: absolute;
    right: 0;
    bottom: 0;
    @apply w-[50%] h-2;
}